/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

img {
    max-width: 100%;
}

.header{
    background-color: hsl(24.94deg 100% 50%);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.toprow{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.toprow :nth-child(1){
    color: white;
}

.toprow :nth-child(3){
    color: white;
}

/* COMMON */
/* Layout */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* debug */
    /* border: 1px solid black;
    min-height: 300px; */
}

.section {
    padding: 130px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    row-gap: 15px;
    flex-wrap: wrap;
}

.col {
    width: calc(95% /3);

    /* border: 2px solid blue; */
    min-height: 200px; 
}

.card {
    position: relative;
}


.img-container {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
}

.image1 {
    position: absolute;
    opacity: 1;
}

.image2 {
    position: absolute;
    opacity: 0;
}

.img-container:hover .image1 {
    opacity: 0;
}

.img-container:hover .image2 {
    opacity: 1;
}

.discount {
    position: absolute;
    bottom: 30px;
    background-color: red;
    color: white;
    font-size: 14px;
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.like {
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.like:hover {
    color: red;
}


.sostenibilita {
    position: absolute;
    bottom: 30px;
    left: 55px;
    background-color: hsl(120deg 100% 25.1%);
    color: white;
    font-size: 15px;
    width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.sostenibilita2 {
    position: absolute;
    bottom: 30px;
    background-color: hsl(120deg 100% 25.1%);
    color: white;
    font-size: 15px;
    width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.info {
    list-style: none;
}

.info :nth-child(3) {
    color: red;
}

.oldprice {
    color: black;
    text-decoration: line-through;
}